{% extends 'base.html.twig' %}

{% block title %}{{ app.user.login }}{% endblock %}

{% block body %}
    {% if user.newsCategories.count >= 1 %}
        <a class="btn btn-primary" href="{{ path('enter_category', {'id': user.id}) }}">
            Изменить интересы
        </a>
    {% endif %}

    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">
        Редактировать профиль
    </a>

    <h2>Login: {{ app.user.login }}</h2>
    <h3>Категории:
        {% if user.newsCategories.count >= 1 %}
            {{ user.newsCategories|join(', ') }}
        {% else %}
            Пусто!
            <a href="{{ path('enter_category', {'id': user.id}) }}">
                Сформировать интересы?
            </a>
        {% endif %}
    </h3>

    <a class="btn btn-primary" href="{{ path('logout') }}">
        Выход
    </a>
{% endblock %}
