{% extends 'base.html.twig' %}

{% block title %}{{ app.user.login }}{% endblock %}

{% block body %}
    {% if user.newsCategories.count >= 1 %}
        <button type="button" class="btn">
            <a style="color: #505050" href="{{ path('enter_category', {'id': user.id}) }}">Изменить интересы</a>
        </button>
    {% endif %}

    <button type="button" class="btn">
        <a style="color: #505050" href="{{ path('user_edit', {'id': user.id}) }}">Редактировать профиль</a>
    </button>

    <h2>Login: {{ app.user.login }}</h2>
    <h3>Категории:
        {% if user.newsCategories.count >= 1 %}
            {{ user.newsCategories|join(', ') }}
        {% else %}
            Пусто!
            <a href="{{ path('enter_category', {'id': user.id}) }}">
                Сформировать интересы?
            </a>
        {% endif %}
    </h3>
    <button type="button" class="btn btn-outline-secondary btn-sm">
        <a style="color: #505050" href="{{ path('logout') }}">Выход</a>
    </button>
{% endblock %}
